h1 {
  color: blue;
}

h1 {
  color: chocolate;
}

h1 {
  color: blueviolet;
}

/* Add this to header.css */
.navbar-brand.active {
  color: orange !important;
}

.nav-link.active {
  font-weight: bold;
  color: #007bff !important; /* A common active link color for Bootstrap */
}
